{% extends 'base.html' %}

{% block page_content %}
    <h1>{{ category.name }}</h1>

    <div class="row">
        <div class="col-md-4">
            {% for i in items %}
                <p><a href="{{ url_for('item_view', category_name=category.name, item_name=i.name) }}" >{{ i.name }}</a></p>
            {% endfor %}
        </div>
    </div>
    <div class="btn-group" role="group" aria-label="...">
        <a href="/{{ category.name }}/add_item" type="button" class="btn btn-default">Add Item</a>
        <a href="/{{ category.name }}/remove_item" type="button" class="btn btn-default">Remove Item</a>
    </div>
{% endblock %}