{% extends 'base.html' %}

{% block title %}Catalog{% endblock %}

{% block page_content %}

    <div class="col-md-12">
        {% for i in categories %}
            <p><a href="/{{ i.name }}">{{ i.name }}</a></p>
        {% endfor %}
    </div>
    <div class="btn-group" role="group" aria-label="...">
        <a href="/category/add" type="button" class="btn btn-default">Add Category</a>
        <a href="/category/remove" type="button" class="btn btn-default">Remove Category</a>
    </div>
{% endblock %}