{% extends 'base.html' %}

{% block title %}Catalog{% endblock %}

{%  block page_content %}
    <h1>{{ item.name }}</h1>
    <div class="row">
        <div class="col-lg-10">
            {% if item.image != None %}
            <img src="{{ item.image }}">
            {% endif %}
            <p>{{ item.description }}</p>
            <div class="btn-group" role="group" aria-label="...">
                <a href="{{ url_for('item_edit', category_name=category.name, item_name=item.name) }}" type="button" class="btn btn-default">Edit</a>
                <a href="{{ url_for('item_remove', category_name=category.name, item_name=item.name) }}" type="button" class="btn btn-default">Delete</a>
            </div>
        </div>
    </div>
{% endblock %}